@tailwind base;
@tailwind components;
@tailwind utilities;
@import "material-symbols";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 23, 80, 172;
  --background-end-rgb: 84, 148, 218;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 80, 172;
    --background-end-rgb: 84, 148, 218;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb))
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
